body {
    font-family: Arial;
    text-align: center;
    margin: 40px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input, select {
    margin: 8px;
    padding: 5px;
  }
  
  #resultImg {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
  }  